footer.footer
    .container
        .footer__content
            .footer__menu
                .footer__menu__column
                    a(href="#1").footer__link Latest Posts
                    a(href="#1").footer__link Popular Posts
                .footer__menu__column
                    a(href="#1").footer__link Search
                    a(href="#1").footer__link Contact Information
                .footer__menu__column
                    a(href="#1").footer__link Privacy Policy
                    a(href="#1").footer__link Terms of Use
            .social-icons--block
                a(href= "#!").social-icon
                    i(class="fa fa-instagram" aria-hidden="true")
                a(href= "#!").social-icon
                    i(class="fa fa-twitter" aria-hidden="true")
                a(href= "#!").social-icon
                    i(class="fa fa-facebook" aria-hidden="true")
.footer__copyright
    p © Copyright 2019. All rights reserved. 



