.instagram-posts
    h2.sidebar-posts__title Instagram
    .instagram-posts__links
        +instagram-posts("insta-01.jpg")
        +instagram-posts("insta-02.jpg")
        +instagram-posts("insta-03.jpg")
        +instagram-posts("insta-04.jpg")
        +instagram-posts("insta-05.jpg")
        +instagram-posts("insta-06.jpg")
        +instagram-posts("insta-07.jpg")
        +instagram-posts("insta-08.jpg")
        +instagram-posts("insta-09.jpg")
        +instagram-posts("insta-10.jpg")