.blog-content--news-nav
    a(href="#!").blog-content--news-nav_link.active 1
    a(href="#!").blog-content--news-nav_link 2
    a(href="#!").blog-content--news-nav_link 3
    a(href="#!").older-posts older posts