mixin sidebar-posts(img, name, date)
    a(href="#!").sidebar-posts__block
        .sidebar-posts__img
            img(src=`./img/small-thumbs/${img}`, alt= name)
        h3.article-heading.sidebar-posts__heading= name
        p.date.sidebar-posts__date= date