header.header
    .social-icons--block
        a(href= "#!").social-icon
            i(class="fa fa-instagram" aria-hidden="true")
        a(href= "#!").social-icon
            i(class="fa fa-twitter" aria-hidden="true")
        a(href= "#!").social-icon
            i(class="fa fa-facebook" aria-hidden="true")    
    .container
        h1.header-heading Hipsum Blog
        .search
            i(class="fa fa-search" aria-hidden="true")
    .subscribe-button subscribe
    